body {
	background: #4a99d3;
	position: relative;
	width: 100%;
	height: 100%;
}

.container {
	width: 800px;
	height: 100%;
	margin: auto;
	margin-top: 109px;
	position: relative;
}

.container-for-text {
	width: 100%;
	position: absolute;
	background: rgba(15,23,50,.7);
	box-shadow: 0 0 60px rgba(0,0,0,0.7);
	z-index: 1;
}

.front-cloud {
	position: absolute;
	top: -64px;
	right: -127px;
	z-index: 30;
}

.back-cloud-left {
	position: absolute;
	left: -193px;
	top: 72px;
	z-index: 0;
}

.back-cloud-left img {
	width: 525px;
	height: 154px;
	opacity: 0.4;
}

.back-cloud-right {
	position: absolute;
	top: 234px;
	right: -188px;
	z-index: 0;
}

.back-cloud-right img {
	width: 525px;
	height: 154px;
	opacity: 0.4;
}

.back-cloud-left-bottom {
	position: absolute;
	top: 285px;
	left: 53px;
	z-index: 0;
}

.back-cloud-left-bottom img {
	width: 193px;
	height: 102px;
	opacity: 0.4;
}

main {
	width: 654px;
	margin: auto;
	padding-top: 24px;
}

main h1 {
	font-family: 'Open Sans', sans-serif;
	color: rgb(255, 255, 255);
	font-size: 36px;
	padding-bottom: 37px;
	padding-top: 32px;
}

main p {
	font-family: 'Open Sans', sans-serif;
	color: rgb(255, 255, 255);
	font-size: 14px;
	padding-bottom: 22px;
	line-height: 16px;
}

.container-picture img {
	margin: 143px 17px 168px -8px;
}

footer {
	background: url(../img/grass.png) repeat-x;
	width: 100%;
	height: 131px;
	position: fixed;
	z-index: 30;
	bottom: 0;	
}

.container-socio {
	width: 35px; 
	height: 110px; 
	position: fixed;
	transform: translate(-120%, 1%);
   	z-index: 50;
}

.twitter {
	display: block;
	width: 35px;
	height: 35px;
	background: url(../img/icons.png) 0 0;
}

.vk {
	display: block;
	width: 35px;
	height: 35px;
	background: url(../img/icons.png) 0 35px;
}

.facebook {
	display: block;
	width: 35px;
	height: 35px;
	background: url(../img/icons.png) 0 70px;
}

.twitter:hover {
	border: 1px solid #ccc;
	box-shadow: 0 0 20px rgba(0,0,0,1);
	border-radius: 50%;
	transition: .7s;
}

.vk:hover {
	border: 1px solid #ccc;
	box-shadow: 0 0 20px rgba(0,0,0,1);
	border-radius: 50%;
	transition: .7s;
}

.facebook:hover {
	border: 1px solid #ccc;
	box-shadow: 0 0 20px rgba(0,0,0,1);
	border-radius: 50%;
	transition: .7s;
}

.front-cloud:hover{
	width: 300px;
	height: 170px;
	margin-left: 15px;
	margin-top: 20px;
}

.container-picture img:hover {
	width: 110px;
	height: 112px;
}